<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="InfoFilename" value="C:\TFS_HCSIS\HCSIS\APPS_9.0\hcsis\application\logs\info_"/>
    <add key="ConnectionString" value="Data Source=:memory:;Version=3;New=True;Compress=True;"/>
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
